<head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shirenk-to-fit=no ">
     <title>Encargo Num 1</title>
     <link rel="stylesheet" href="../static/css/MyStyle.css"> 
 </head>
<style>
    form{
        text-align: center;
    }
    h2{
        text-align: center;
    }
</style>
<h2>Iniciar sesión</h2>

    <form method="POST" action="/pagina1/">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" value="pagina1">Login</button>
    </form>

