{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shirenk-to-fit=no ">
	<title>Encargo Num 1</title>
	<link rel="stylesheet" href="../static/css/MyStyle.css">
	<link type="text/css" rel="stylesheet" href="{% static 'css/' %}"> 
</head>
<body>
	<div id="agrupar" class="col-xs-12">
		<header id="cabecera">
			<h1>League of Friends</h1>
		</header>

		<nav id="menu">
			<ul>
				<li><a href="{% url 'Pagina1'%}"> <h3 align="side">Pagina Principal</h3></a></li>
				<li><a href="{% url 'Pagina2'%}"> <h3 align="side">Maestrias</h3></a></li>
				<li><a href="{% url 'Pagina3'%}"> <h3 align="side">Historial</h3></a></li>
				<li><a href="{% url 'buscarinvocador'%}"> <h3 align="side">Buscar Invocador</h3></a></li>
			</ul>			
		</nav>

		<section id="seccion">
			<article>
				<header>
                    <div>
					<hgroup>
						<h1>Que es league of legends</h1>
						<p>League of legends es un juego de estrategia multijugador
							 5 contra 5 que se basa
                            en destruir el nexo rival para ganar la partida
						</p>
                    </hgroup>
                    </div>
                    <hgroup>
                        <h1>Fecha estreno</h1>
                        <p>
                            27 de octubre de 2009
                        </p>
                    </hgroup>
                    <hgroup>
                        <h1>Plataformas</h1>
                        <p>
                            Microsoft Windows, macOS, Mac OS Classic
                        </p>
                    </hgroup>
                    <hgroup>
                        <h1>Pagina Web</h1>
                        <p>
                            <a href="https://www.riotgames.com/es"> <h3 align="side">League of legends</h3>
                            </a>
                        </p>
                    </hgroup><hgroup>
                        <h1>Modos de juego</h1>
                        <p>
							1-Grieta del Invocador
							2-Aram
							3-Modo de juego Rotativo (One for all)
                        </p>
                    </hgroup>  
				</header>
			</article>
		</section>
		<aside id="columna">
            <img src="../static/img/2379005.jpg" alt="League of legends" width="464"
             height="312">
		</aside>
		{% block content %}
                    
                    
		{% endblock %}
		<footer id="pie" class="col-xs-12">
			<script>
				$(function() 
				{
				  $("#mi-formulario").validate(
					  {
					   rules: 
					   {
							Usuario:"requiered",
							Nivel:"requiered",      
							ChampMain: "requiered",
						}, 
	
					  messages: {
	
						Usuario: 
						  {
							  required: 'Ingresa el nombre de invocador',
							  minlength: 'ingrese un nombre invocador valido'
						  },
	
						Nivel:
						  {
							  required: 'Ingrese Nivel',
							  minlength: 'Cantidad Nivel invalida'
						  },
	
						ChampMain:
						  {
							  required: 'Ingrese campeon main',
							  minlength: 'Ingrese un campeon valido'
						  },
					  }
				  }); 
			  }); 
		  
			</script>
		</head>
	
	<footer>
		<form id="Invocador" method="post">{% csrf_token %}
	
			<label>Formulario LOL: </label>
	
				<label>Usuario: </label>
				<input type="text" name="Usuario" minlength="1" required>
	
				<label>Nivel : </label>
				<input type="int" name="Nivel" minlength="1" required>
	
				<label>ChampMain: </label>
				<input type="text" name="ChampMain" minlength="1" required>
			<button>Suscribirse</button>
	
		</form>
	</footer>
</body>

<script>
	function actualizar(){location.reload(true);}
	setInterval("actualizar()",50000);
</script>

</html>