{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Encargo Num 1</title>
	<link rel="stylesheet" href="../static/css/MyStyle.css">
	<link rel="stylesheet" href="css/flexboxgrid.min.css">
</head>
<body>
	<div id="agrupar" class="col-xs-12">
		<header id="cabecera">

			<h1>League of Friends</h1>
		</header>

		<nav id="menu">
			<ul>
				<li><a href="../PaginaLOL/PaginaLOL.html"> <h3 align="side">Pagina Principal</h3></a></li>
        		<li><a href="../PaginaLOL/PaginaLOL2.html"> <h3 align="side">Maestrias</h3></a></li>
        		<li><a href="../PaginaLOL/paginaLOL3.html"> <h3 align="side">Historial</h3></a></li>
			</ul>			
		</nav>
	</div>

	<div class="recuadro">
		<iframe width="100%" height="115%" frameborder="0" allowfullscreen src="PaginaLOL3.1.html">
			
		</iframe>
	</div>
	
	<div class="recuadro">
		<iframe width="100%" height="115%" frameborder="0" allowfullscreen src="paginaLOL3.2.html">
			
		</iframe>
	</div>
	
	<div class="recuadro">
		<iframe width="100%" height="115%" frameborder="0" allowfullscreen src="paginaLOL3.3.html">
			
		</iframe>
	</div>
	
	<div class="recuadro">
		<iframe width="100%" height="115%" frameborder="0" allowfullscreen src="paginaLOL3.4.html">
			
		</iframe>
	</div>
	

</body>
<script>
	function actualizar(){location.reload(true);}
	setInterval("actualizar()",50000);
</script>
</html>