{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Encargo Num 1</title>
	<link rel="stylesheet" href="../static/css/MyStyle.css">
	<link rel="stylesheet" href="css/flexboxgrid.min.css">
</head>
<body>
	<style>
		body{
			background-image: url(../static/img/Grieta.jpg);
			background-size: cover;
		}
	</style>
	<div id="agrupar" class="col-xs-12">
		<header id="cabecera">

			<h1>League of Friends</h1>
		</header>

		<nav id="menu">
			<ul>
				<li><a href="{% url 'Pagina1'%}"> <h3 align="side">Pagina Principal</h3></a></li>
				<li><a href="{% url 'Pagina2'%}"> <h3 align="side">Maestrias</h3></a></li>
				<li><a href="{% url 'Pagina3'%}"> <h3 align="side">Historial</h3></a></li>
				<li><a href="{% url 'buscarinvocador'%}"> <h3 aling="side">Buscar Invocador</h3></a></li>
			</ul>			
		</nav>
	</div>
    <div class="slider">
		<h2>El14DeLosBlancos</h2>
		<ul>
			<li><img src="../static/img/Nico01.png"></li>
			<li><img src="../static/img/Nico02.png"></li>
			<li><img src="../static/img/Nico03.png"></li>
			<li><img src="../static/img/Nico04.png"></li>
		</ul>
	 </div>
	 
	 <div class="slider">
		 <h2>Maxi</h2>
		<ul>
			<li><img src="../static/img/Maxi01.png"></li>
			<li><img src="../static/img/Maxi01.png"></li>
			<li><img src="../static/img/Maxi01.png"></li>
			<li><img src="../static/img/Maxi01.png"></li>
		</ul>
	 </div>

	 <div class="slider">
		<h2>AlexBandicoot</h2>
	   <ul>
		   <li><img src="../static/img/Brian01.png"></li>
		   <li><img src="../static/img/Brian02.png"></li>
		   <li><img src="../static/img/Brian03.png"></li>
		   <li><img src="../static/img/Brian04.png"></li>
	   </ul>
	</div>

	<div class="slider">
		<h2>Mi General ***</h2>
	   <ul>
		   <li><img src="../static/img/Alvarez01.png"></li>
		   <li><img src="../static/img/Alvarez02.png"></li>
		   <li><img src="../static/img/Alvarez03.png"></li>
		   <li><img src="../static/img/Alvarez04.png"></li>
	   </ul>
	</div>

</body>
<script>
	function actualizar(){location.reload(true);}
	setInterval("actualizar()",50000);
</script>
</html>